.home {
    width: 100%;
    margin-top: 15vh;
    text-align: center;
}

.profile {
    font-family: 'Rubik', sans-serif;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.avatar {
    flex: none;
    width: 350px;
    height: 350px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: 10%;
    box-shadow: -18px 17px 12px -11px #03188d83;
    -webkit-box-shadow: -18px 17px 12px -11px #03188d83;
    -moz-box-shadow: -18px 17px 12px -11px #03188d83;
    background-image: url("./profile.jpg");
    background-size: cover;
    background-position: center;
}

.intro {
    text-align: left;
    margin-left: 5%;
    padding: 30px;
    font-size: x-large;
}

.sub-intro{
    color: rgb(170, 170, 170);
}

.mint-green{
    color: #17c3b2;
}

.resume{
    background-color: white;
    height: 40px;
    width: 100px;
    border-radius: 15px;
    color: #17c3b2;
    border: 2px solid #17c3b2;
    font-family: "Quicksand";
    font-weight: 800;
    font-size: large;
    margin-top: 30px;
    transition: 300ms ease-in-out;
}

.resume:hover{
    cursor: pointer;
    background-color: #17c3b2;
    color: white;
    border: none;
}

.colors {
    background-color: #ffffff, #91bece, #227c9d, #1da0a8, #17c3b2, #8b9893, #fe6d73, #b16369, #63585e
}