/* #ffffff, #91bece, #227c9d, #1da0a8, #17c3b2, #8b9893, #fe6d73, #b16369, #63585e */

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 90%;
  height: 70px;
  margin: 0 auto;
  font-family: 'Rubik', sans-serif;
}

.navbar h1 {
  color: #17C3B2;
  font-size: xx-large;
  padding: 20px;
}

.navbar h1 a{
  text-decoration: none;
}

.navbar .links {
  margin-left: auto;
}

.links a {
  margin-left: 20px;
  text-decoration: none;
  padding:10px;
  border-radius: 15px;
  border: 2px solid white;
  transition: 300ms ease;
}

.links a:hover {
  border: 2px solid #17C3B2;
  color:#17C3B2;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.active{
  background-color: #17C3B2;
  border: 2px solid #17C3B2;
  color:white;
}

a.active:hover{
  color:white;
}