hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #17c3b2;
    margin: 1em 0;
    padding: 0;
}

.Education {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: left;
}

.Education h1 {
    /* font-family: "Quicksand";*/
    font-family: 'Rubik', sans-serif;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 50px;
}

#edu-first-title{
    margin-top: 20px;
}

.educations-container {
    margin-bottom: 50px;
}

.school-container{
    display: block;
    font-family: "Quicksand";
    line-height: 25px;
    transition: 500ms ease-in-out;
}

.basic-info-container {
    padding: 20px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: left;
    border-radius: 40px;
    transition: 500ms ease-in-out;
}

.courses-container{
    margin: 20px;
    max-height: 0;
    overflow: hidden;
    transition: 500ms ease-in-out;
}

.courses-container li{
    color: rgb(140, 140, 140);
}

.school-container:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.school-container:hover .courses-container{
    max-height: 1000px;
}

.school-container:hover .basic-info-container{
    background-color:rgb(240, 240, 240);
}

.logo {
    height: 100px;
    width: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center middle;
    border-radius: 25px;
    margin-right: 50px;
}

#usc {
    background-image: url('./usclogo.jpg');

}

#unnc {
    background-image: url('./unnc.jpg');
}

.school-name {
    font-family: 'Rubik', sans-serif;
}

.school-time h4 {
    color: rgb(140, 140, 140);
}

.test-container {
    padding: 20px;
    padding-top: 0;
    font-family: "Quicksand";
    line-height: 25px;
    margin-bottom: 20px;
}

.test-name {
    font-family: 'Rubik', sans-serif;
}

.test-date {
    color: rgb(140, 140, 140);
}

.test-total {
    margin-bottom: 10px;
}

.skill-container {
    padding: 20px;
    padding-top: 0;
    font-family: "Quicksand";
    line-height: 30px;
    margin-bottom: 40px;

}

.skill-container h3 {
    margin-top: 20px;
    font-family: 'Rubik', sans-serif;
}